$primary-color: #333;

.custom-title{
    color: $primary-color;

    .custom-title-child{
        display: flex;

        div{
            background-color: $primary-color;
        }

        p{

        }
    }

}