.button-primary-details {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color-bright);
  color: var(--white-color);
  text-decoration: none;
  /* font-weight: 100; */
  margin-top: 0.5rem;
  box-shadow: 2px 2px 5px #ddd;
  transition: 0.2s ease-in;
  border-radius: 3.5px;
  border: none;
  font-family: Chivo Mono;
  font-size: 1rem;
}
