.user-listing-card {
  border: 1px solid #aaa;
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.user-listing-img-container {
  width: 100%;
  height: 15rem;
  text-align: center;
}

.user-listing-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-listing-details-container {
  padding-top: 2rem;
  min-height: 10rem;
}

.user-role {
  font-size: 1.5rem;
  padding: 0.6rem 0;
  color: var(--primary-color-bright);
}
.user-mail {
  font-size: 1.7rem;
  padding: 0.6rem 0;
}

.user-listing-details-container h3 {
  font-size: 2rem;
}

.user-listing-button-borrow {
  display: inline-block;
  background-color: #333;
  width: 100%;
  border-radius: 3.5px;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  font-family: Chivo Mono;
  text-decoration: none;
  margin-top: 2rem;
  transition: 0.2s ease-in;
  margin-right: 1rem;
}

.user-listing-button-remove {
  display: inline-block;
  border-radius: 3.5px;
  background-color: var(--primary-color-bright);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  font-family: Chivo Mono;
  text-decoration: none;
  margin-top: 2rem;
  transition: 0.2s ease-in;
  margin-left: 1rem;
}

.user-listing-button-borrow:hover {
  background-color: #000;
}

.user-listing-button-remove:hover {
  background-color: red;
}

.card-button-container {
  display: flex;
}
