<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title th:text="${pageTitle}">Student - CRUD</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1 th:text="${headerText}">Student-CRUD</h1>-->
<!--</header>-->

<!--<nav>-->
<!--    <ul>-->
<!--        <li><a th:href="@{/}">Home</a></li>-->
<!--        <li><a th:href="@{/about}">About</a></li>-->
<!--        &lt;!&ndash; Add more navigation links here &ndash;&gt;-->
<!--    </ul>-->
<!--</nav>-->

<!--<div class="container">-->
<!--    <section th:fragment="content">-->
<!--        &lt;!&ndash; The content of each page will go here &ndash;&gt;-->
<!--    </section>-->
<!--</div>-->

<!--<footer>-->
<!--    <p>&copy; shadril238</p>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
