<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body>
<h1>Update Student Info</h1>
<form th:action="@{/update-student}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label for="name">Student Name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>

    <label for="dateOfBirth">Date of Birth</label>
    <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth"/>

    <label for="gender">Gender</label>
    <input type="text" th:field="*{gender}" id="gender"/>

    <label for="phoneNumber">Phone Number</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>

    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address"/>

    <label for="major">Major</label>
    <input type="text" th:field="*{major}" id="major"/>

    <label for="enrollmentDate">Enrollment Date</label>
    <input type="date" th:field="*{enrollmentDate}" id="enrollmentDate"/>

    <label for="graduationDate">Graduation Date</label>
    <input type="date" th:field="*{graduationDate}" id="graduationDate"/>

    <label for="cgpa">CGPA</label>
    <input type="number" th:field="*{cgpa}" step="any" id="cgpa"/>

    <br/><br/>
    <input type="submit" value="Update Student"/>
</form>
</body>
</html>
